
<!-- Footer Section -->
<footer class="footer">
    <div class="footer-left">
      <img src="" alt="">
      <p>A special platform for  defence aspirants which helps them to prepare for SSB Interview, written exams and many more.
      </p>
      <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <ul class="footer-right">
      <li>
        <h2>Services</h2>

        <ul class="box">
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Quizzes</a></li>
          <li><a href="#">Mentorship</a></li>
          <li><a href="#">Ask your Doubt</a></li>
        </ul>
      </li>
      <li class="features">
        <h2>Links to Visit</h2>

        <ul class="box">
          <li><a href="https://joinindianarmy.nic.in/default.aspx">Join Indian Army</a></li>
          <li><a href="https://indianairforce.nic.in/">Carrer Airforce</a></li>
          <li><a href="https://www.joinindiannavy.gov.in/">Join Indian Navy</a></li>
          <li><a href="https://www.joinindiancoastguard.gov.in/">Join Indian Coast Guard</a></li>
          <li><a href="#">SSBSelection.com</a></li>
        </ul>
      </li>
      <li>
        <h2>Contact Us</h2>
         <ul class="box">
          <li><i class="fa fa-globe"></i><span>
            Universal Counselling Centre <br>
            H/C – 317, Ganga Nagar, <br>
            Opposite Greater Ganga Colony, <br>
            Meerut Cantt - 250001 (U.P) <br>
            INDIA
          </span></li>
          <li><i class="fa fa-phone"></i><span>
            <a href="tel:+919319302151">Call us: +91 9319302151</a>
          </span></li>
          <li><i class="fa fa-envelope-o"></i><span>
            <a href="mailto:pk1853894@gmail.com"> pk1853894@gmail.com </a>
          </span></li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>All rights reserved by &copy;SSBSelection.com </p>
    </div>
  </footer>  
  
  <script>
    $('.ui.dropdown')
      .dropdown()
      ;
       // Jquery code to trigger sidebar on clicking hamburger icon
    $(document).ready(function () {
      // create sidebar and attach to menu open
      $(".ui.sidebar").sidebar("attach events", ".toc.item");
    });
    
  </script>
