<!--Footer Section -->
  <footer class="footer">
    <div class="footer-left">
      <img src="../../logo.png" alt="">
      <p>A special platform for  defence aspirants which helps them to prepare for SSB Interview, written exams and many more.
      </p>
      <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <ul class="footer-right">
      <li>
        <h2>Services</h2>

        <ul class="box">
          <li><a href="https://ssb-blogs.herokuapp.com/">Blogs</a></li>
          <li><a href="#">Quizzes</a></li>
          <li><a href="#">Mentorship</a></li>
          <li><a href="#">Ask your Doubt</a></li>
        </ul>
      </li>
      <li class="features">
        <h2>Links to Visit</h2>

        <ul class="box">
          <li><a href="https://joinindianarmy.nic.in/default.aspx">Join Indian Army</a></li>
          <li><a href="https://indianairforce.nic.in/">Carrer Airforce</a></li>
          <li><a href="https://www.joinindiannavy.gov.in/">Join Indian Navy</a></li>
          <li><a href="https://www.joinindiancoastguard.gov.in/">Join Indian Coast Guard</a></li>
          <li><a href="#">SsbComrade.com</a></li>
        </ul>
      </li>
      <li>
        <h2>Contact Us</h2>
         <ul class="box">
          <li><i class="fa fa-globe"></i>&nbsp;<span style="color:#999">
            JSS Academy of <br>Technical Education <br>
            112,Sector-62,Noida, <br>
            Opposite AKTU Arts College, <br>
            Gautam Buddha Nagar - 201301 (U.P) <br>
            INDIA
          </span></li>
          <li><i class="fa fa-phone"></i>&nbsp;<span>
            <a href="tel:+919205878028">+91 9205878028</a>
          </span></li>
          <li><i class="fa fa-envelope-o"></i>&nbsp;<span>
            <a href="mailto:ssbcomrade@gmail.com">ssbcomrade@gmail.com </a>
          </span></li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>All rights reserved by &copy;SsbComrade.com </p>
    </div>
  </footer>  
</body>
</html>