<!--Footer Section -->
<footer class="footer">
    <div class="footer-left">
      <img src="" alt="">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <ul class="footer-right">
      <li>
        <h2>Products</h2>

        <ul class="box">
          <li><a href="#">Paan</a></li>
          <li><a href="#">Strawberry</a></li>
          <li><a href="#">chochlate</a></li>
          <li><a href="#">Cherry</a></li>
        </ul>
      </li>
      <li class="features">
        <h2>Links to Visit</h2>

        <ul class="box">
          <li><a href="https://joinindianarmy.nic.in/default.aspx">Join Indian Army</a></li>
          <li><a href="https://indianairforce.nic.in/">Carrer Airforce</a></li>
          <li><a href="https://www.joinindiannavy.gov.in/">Join Indian Navy</a></li>
          <li><a href="https://www.joinindiancoastguard.gov.in/">Join Indian Coast Guard</a></li>
          <li><a href="https://ssbcrackexams.com/">SSBCrackExams</a></li>
          <li><a href="#">Ask-SSB</a></li>
        </ul>
      </li>
      <li>
        <h2>Contact Us</h2>

        <ul class="box">
          <li><a href="#">Dehradun</a></li>
          <li><a href="#">Meerut</a></li>
          <li><a href="#">Noida</a></li>
          <li><a href="#">Pune</a></li>
          <li><a href="#">New Delhi</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>All rights reserved by &copy;Ask-SSB </p>
    </div>
  </footer>
</body>
</html>