<div class="mb-2 form-group">
    <label for="title">Title</label>
    <input required type="text" class="form-control" value="<%= article.title %>" id="title" name="title">
</div>
<div class="mb-2 form-group">
    <label for="description">Description</label>
    <textarea  name="description" class="form-control" id="description"><%= article.description %></textarea>
</div>
<div class="mb-2 form-group">
    <label for="image">Enter Image URL:</label>
    <input type="text" class="form-control" id="image" name="image" value="<%= article.image %>" required>
</div>

<a href="/" class="btn btn-danger">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>