#topMenu , #followingMenu{
    padding: 4px 0%;
    margin: 0;
}

/* #followingMenu .item{
    color: white !important;
} */

#topMenu .item , #followingMenu .item {
    padding: 10px 4px !important;
    margin: 0px 6px !important;
}
@media(max-width:720px){
    #userLabel{
        font-size: 15px;
    }
}

/*     Footer CSS */
/*This is a CSS file*/
body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}
main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #9b9b9b;
    line-height: 3.8;
    text-transform: uppercase;
    font-weight: strong;
}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #011c39;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width: 66%;
    margin-bottom: 23px;
}
h2{
    font-weight: 600;
    font-size: 17px;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.footer-right > *{
    flex: 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.box a:hover{
    color:white;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.footer-left p{
    padding-right: 20%;
    color: #999;
}
.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2d4;
    padding: 10px 12px;
    font-size: 20px;
}
@media screen and (min-width: 600px) {
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer{
        padding: 15px;
    }
    .main{
        font-size: 55px;
    }
}