body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}    

section{
    background: #48a0e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    transition: 0.5s;
   }


section .container{
    margin-top: 100px;
    height: 700px;
    background:#fff;
    box-shadow:0 15px 50px rgba(0,0,0,0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}






section .container .user .formBx{
    position: relative;
    background: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px;
    transition:0.5s;
}

section .container .user .formBx h2{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
    margin-bottom: 10px;
    color:#555;
}



section .container .user .formBx input,textarea{
    display:block;
    width:600px;
    padding:10px !important;
    margin: 28px 0px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border:2px solid #48a0e4;
    color:#fa9902;
    font-size:1.5rem;
   
}
section .container .user .formBx input:focus,textarea:focus{
    border-radius: 0;
}

section .container .user .formBx textarea{
    width:100%;
    height: 60px;
}

.control-buttons{
    padding-top: 15px;
}

.cancel{
    padding: 10px 0px;
    display:inline;
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }





@media (max-width:991px)
{
    section .container{
        /* max-width: 682px; */
        width:100%;
    }

    section .container .user {
        width:100%
    }
    section .container .user .formBx input,textarea{
        width:100%
    }
    
    .control-buttons{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width:100%;
    }
    .btn-danger{
        width:100%;
    }
    .control-buttons .cancel,button{
        /* text-align: center; */
        display:block;
        margin:10px;
        width:100%;
    }

} 